@using JuniorMath.Infrastructure.Identity
@using JuniorMath.ApplicationCore.Domain.User

@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> SignInManager
@inject Microsoft.AspNetCore.Identity.UserManager<ApplicationUser> UserManager
@inject UserHandler _userHandler

@{
    var userContext = _userHandler.GetUserContext();
}

<!-- *APP-HEADER* -->
<header class="app-header navbar">
    <button class="navbar-toggler mobile-sidebar-toggler d-lg-none mr-auto" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">
    </a>
    <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <ul class="nav navbar-nav ml-auto  d-sm-none d-md-none d-lg-block" id="head-search-box-ul">

    </ul>

</header>

