<!-- *DASHBOARD* -->
<div class="animated fadeIn dash-board">
    <!--/.row-->
    @*<div class="card">
        <div class="card-body">
            <div class="row">
            </div>

        </div>
    </div>*@

   
</div>
<!-- /*DASHBOARD* -->
@*@section Scripts{
    <script src="~/js/views/main.js"></script>
}*@
