@using  JuniorMath.Web.ViewModels.Exam

@model ExamViewModel

@{
    ViewData["Title"] = "ExamPaper";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Exam Paper</h2>

<div class="animated fadeIn  view-exam-paper-content">
    <img id="search-spinner" class="invisible" src='/images/loading.gif' width='30' height='30' />

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header exam-id">
                    <i class="fa fa-align-justify"></i>Exam Questions
                    <input type="hidden" asp-for="ExamId" id="EaxmHidden-@Model.ExamId" class="hidden-exam-id" />
                </div>
                <div class="card-body">
                    @if (Model != null && Model.Questions.Any())
                    {
                        @foreach (var item in Model.Questions)
                        {
                            <div class="question-block">
                                <div class="question-name">
                                    @item.Name
                                    <input type="hidden" asp-for="@item.QuestionId" id="QuestionHidden-@item.QuestionId" class="hidden-question-id" />
                                </div>
                                <div class="question-section">
                                    @foreach (var questionDetail in item.QuestionDetail)
                                    {
                                        <div class="question-detail float-left">
                                            <input type="hidden" asp-for="@questionDetail.QuestionDetailId" id="QuestionDetailHidden-@questionDetail.QuestionDetailId" class="hidden-question-detail-id" />
                                            <div class="image-section ">
                                                @for (int i = 0; i < questionDetail.Count; i++)
                                                {
                                                    <div class="image-area float-left">
                                                        <img src="/images/question_icons/@questionDetail.ImageName" class="question-image" />
                                                        <img src="/images/Green-check.png" class="green-check" />
                                                        <input type="hidden" value="0" id="imageHidden-@questionDetail.QuestionDetailId" class="hidden-input" />
                                                    </div>
                                                }
                                            </div>
                                            <div style="clear:both;"></div>
                                            <div class="question-answer-section">
                                                <input id="questionDetailId-@questionDetail.QuestionDetailId" class="form-control input-question-answer" placeholder="Answer" />
                                            </div>
                                        </div>
                                    }
                                </div>
                                <div style="clear:both;"></div>
                            </div>
                        }

                    }
                </div>
                <div class="card-footer add-patient-buttons">
                    <button type="button" class="btn btn-sm btn-primary" onclick="JuniorMath.ExamPaper.SubmitExamModal()">Submit</button>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/views/Exam/examPaper.js" asp-append-version="true"></script>
}